.hiddenRow {
    padding: 0 !important;
}
td, th{
    border: none;
}
body {
    padding-top:50px;
}

.android-color{
    background-color: #f2ffc7;
}

.stop-offer{
    text-decoration: line-through;
    color: red;
}

div.search-form-row
{
    max-width: 300px;
    float: left;
    min-height: 50px;
    margin-right: 20px;
}
div.form-actions{
    clear: both;
    /*margin: auto auto;*/
    padding: 3px;
    display: inline-block;
    text-align: center;
}

.form-group {
    margin-bottom: 3px;
}

#offers-wrapper{
    width: 100%;
}

#offers-wrapper .ios-offers,
#offers-wrapper .android-offers {
    width: 50%;
    text-align: left;
    vertical-align: top;
    /*border: 1px solid black;*/
}

#offers-wrapper .ios-offers {
    border-right: 1px dotted grey;
}

.offer-icon{
    width: 25px;
    height: 25px;
    min-height: 25px;
    min-width: 25px;
}

.well{
    /*margin: 5px;*/
    padding: 5px;
}

form{
    margin: 0 0 0;
}

#iosLetters{
    position: fixed;
    top: 200px;
    left: 0px;
    /*width: 20px;*/
    padding: 3px 1px 3px;
    border: 1px solid grey;
    background-color: #ffff99;
    font-size: 1em;
    font-weight: bold;
    margin: auto 0;
    line-height: 100%;
    opacity: 0.5;
}

#androidLetters{
    position: fixed;
    top: 200px;
    right: 0px;
    /*width: 20px;*/
    padding: 3px 1px 3px;
    border: 1px solid grey;
    background-color: #ffff99;
    font-size: 1em;
    font-weight: bold;
    margin: auto 0;
    text-align: right;
    line-height: 100%;
    opacity: 0.5;
}

#iosLetters:hover,
#androidLetters:hover {
    opacity: 1;
}

#iosLetters a:hover,
#androidLetters a:hover{
    font-size: 2em;
}


.letter-anchor{
    font-weight: bold;
    font-size: 1.2em;
}

.anchor{
    padding-top: 50px;
    margin-top: -50px;

    display: block;
    vertical-align: top;
}

.popover{
    max-width: 50%;
}

.clickable {
    cursor: pointer;
}


#apps_container {
    position: absolute;

    /*display: block;*/
    width: 400px;
    margin-left: -200px;
    left: 50%;
    /*margin: 0 auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 40%;*/
    /*width: 100%;*/
    border: 1px dotted #ccc;
    -moz-border-radius: 3px;
    z-index: 1;
    background-color: #ffffff;
    max-height: 50%;


    overflow-y: auto;
    opacity: 0.9;
}

#searchText {
    width: 400px;
    /*margin-left: 10px;*/
    display: block;
    margin : 0 auto;
}

.v-narrow {
    margin-top: 10px;
    margin-bottom: 10px;
}